.footer {
    /* background-image: url('/assets/img/papiro.jpeg'); */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    border-top: 1px solid gray;
    text-align: center;
    font-size: 15pt;
    background-color: black;
    color: white;
}