<div class="container">
  <h1 class="text-center">About SAPONE</h1>
  <div class="container text-justify">
    <div>
      <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium perferendis libero vel aliquam id
        repellendus, magnam, veniam fuga nobis eligendi praesentium. Earum molestias exercitationem ipsum impedit
        aperiam perferendis maiores cum?</span>
      <span>Fugit odit nisi impedit sint esse! Velit sed ab dignissimos ratione quod adipisci voluptas, dolor ad cumque
        tempore commodi repudiandae nihil quisquam, eveniet assumenda ipsa perferendis, itaque autem! Amet,
        voluptate?</span>
      <span>Tempora iste recusandae nesciunt magnam inventore suscipit laudantium ipsam. Saepe cupiditate eveniet
        explicabo? Tempora quaerat minima voluptate porro neque eaque fuga adipisci, fugiat nisi nemo nulla
        exercitationem quae totam quas!</span>
    </div>
    <div>
      <span>Commodi itaque reprehenderit atque consectetur ut vel et, inventore, rem ipsa maxime sit, labore libero
        totam magnam quo voluptatem architecto vero provident iste rerum. Quae ipsa iusto expedita placeat eius.</span>
      <span>Similique quod esse placeat tenetur molestias! Quisquam repudiandae ad nobis voluptatibus incidunt ullam
        sapiente autem beatae, doloremque dolor, ea, hic quam. Quos et mollitia laudantium eveniet iste assumenda
        aspernatur temporibus.</span>
      <span>Dolores, voluptas aut corporis blanditiis rem, excepturi aliquam eos laborum nostrum exercitationem iste.
        Hic consequatur id blanditiis. Culpa veniam sed pariatur provident quas quia maiores, cumque eaque, possimus
        sint et.</span>
    </div>
  </div>
</div>