input,
textarea,
button {
    font-size: 20pt;
}

.btn-gray {
    background-color: #303030;
    border-color: black;
    color: white;
}

.btn-gray:hover {
    background-color: #252525;
}

.alert-danger {
    background-color: #303030;
    color: white;
}

.col-md-12 column {
    text-align: center;
}

.col-md-12 column form {
    display: inline-block;
}