/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'AsgaltRegular';
    src: url(fonts/Asgalt-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'TwCenMT';
    src: url(fonts/Tw-Cen-MT.ttf) format('truetype');
}

body {
    /* height: 100vh; */
    height: 100%;
    font-family: 'AsgaltRegular', 'arial', 'sans-serif' !important;
    font-size: 2em !important;
    background: url('/assets/img/papiro.jpeg');
}

h1 {
    font-size: 3em !important;
}

.product-header {
    text-transform: uppercase;
    font-family: 'AsgaltRegular';
    font-weight: bold;
    text-align: center;
}

.product-body {
    font-family: 'TwCenMT', 'AsgaltRegular';
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    border-top: 1px solid gray;
    text-align: center;
    font-size: 15pt;
    background-color: #515151;
    color: white;
}