<div class="container">
    <h1 class="text-center">Our greatest products for you!</h1>
    <div class="card-columns">

        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/IMG_6823.JPG" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">JABON DE CUERPO</h2>
                <p class="card-text">Este es un jabon de cuerpo azul de color degradado. </p>
            </div>
        </div>
        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/IMG_6829.JPG" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">JABON DE ESTRELLAS</h2>
                <p class="card-text">Estos son unos jabones con forma de estrellas de colores.</p>
            </div>
        </div>

        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/IMG_6852.JPG" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">JABON CON JOYA</h2>
                <p class="card-text">Jabón con una joya incrustada en su interior de estética.</p>
            </div>
        </div>

        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/IMG_7304.JPG" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">CEPILLO DE DIENTES</h2>
                <p class="card-text">Este es un cepillo de dientes de bamboo. Bonito y duradero.</p>
            </div>

        </div>

        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/IMG_7330.JPG" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">SHAMPOO Y ACONDICIONADOR</h2>
                <p class="card-text">Shampoo y acondicionador en barra. Dile adiós a las botellas y a la basura extra.</p>
            </div>
        </div>

        <div class="card shadow p-3 mb-4 rounded">
            <img src="assets/img_products/oceano_rosa.png" class="img-fluid rounded float-left">
            <div class="card-body">
                <h2 class="card-title">JABON EN BARRA</h2>
                <p class="card-text">Este es un jabón de dos tipos de color rosa degradado de gran dimensión.</p>
            </div>
        </div>


    </div>
</div>