<div class="parallax">
    <div class="d-flex justify-content-sm-center justify-content-md-end">
        <div class="vertical-center slogan img img-fluid rounded-circle d-flex align-items-center m-1">
            <div class="ml-5 mr-5" style="width: 300px;"></div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center">Nuestros mejores productos</h1>
    <div class="card-columns mt-4">
        <div *ngFor="let product of productsArray">
            <div class="card shadow p-3 mb-4 rounded" *ngIf="product.IsHighlighted">
                <img src="{{ product.ImgUrl }}" class="img-fluid rounded float-left mb-3">
                <div class="card-body ">
                    <h2 class="product-header">{{ product.Name }}</h2>
                    <p class="product-body">{{ product.Description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 d-flex justify-content-md-center home-footer">
    <div class="col-md-6">
        <img src="assets/img/accion_mas_pequena.png" class="img-fluid">
    </div>
</div>