html,
body {
    height: 100vh !important;
}

.slogan {
    background-image: url('/assets/img/logo_circulo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    height: 300px;
    text-transform: uppercase;
    font-family: 'AsgaltRegular';
    background-color: white;
    opacity: .8;
    color: black;
}

.parallax {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    /* The image used */
    /* background-image: url('/assets/img/green.jpeg'); */
    background-image: url('/assets/img/pozo.jpeg');
    /* Set a specific height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}