html,
body {
    height: 100vh !important;
}

.home-footer {
    background-color: white;
    opacity: .75;
}

.slogan {
    background-image: url('/assets/img/slogan_circulo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    height: 300px;
}

.parallax {
    background-image: url('/assets/img/pozo.jpeg');
    height: 97%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media (min-width: 400px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 700px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}